

$font_size-28: 28px;
$font_size-18: 18px;
$font_size-16: 16px;
$font_size-15: 15px;
$font_size-13: 13px;
$font_size-12: 12px;
$font_size-11: 11px;
$font_size-10: 10px;
$font_size-8: 8px;
$font_weight-normal: 400;
$font_weight-medium: 500;
$font_weight-semibold  :600;
$font_weight-bold: 700;
$font_weight-extrabold:800;
$font_weight-ultrabold: 900;

