
@import '_globals.scss';
@import '_flexgrid.scss';
@import 'hamburgermenu.scss';

$colors: (
    Cyan: hsl(180, 66%, 49%),
    Dark Violet: hsl(257, 27%, 26%),
    Red: hsl(0, 87%, 67%),
    Gray: hsl(0, 0%, 75%),
    Grayish Violet: hsl(257, 7%, 63%),
    Very Dark Blue: hsl(255, 11%, 22%),
    Very Dark Violet: hsl(260, 8%, 14%),
    White: hsl(150,100%,100%)
);

$fallback-colors: (
    Cyan , MidnightBlue, Red, LightGray,Thistle, DarkSlateBlue,Indigo,Snow
);

@mixin background($url,$position:auto,$size:auto,$repeat:no-repeat,$fixed:fixed,$color:white){
    background: url($url) $position/$size $repeat $fixed $color; 
}
@mixin font-color($color, $fallback-color) {
  color: $fallback-color;
  color: $color;
}

@mixin bg-color($color, $fallback-color) {
  background-color: $fallback-color;
  background-color: $color;
}
@mixin border-radius($radius...) {
  border-radius: $radius;
}
@mixin margin($args...) {
  margin: $args;
}
@mixin padding($args...) {
  padding: $args;
}

*,
::before,
::after {
  box-sizing: border-box;
}


html,
body {
     @include bg-color(map-get($colors,White),nth($fallback-colors,8));
  // @include font-color(map-get($colors,Black),nth($fallback-colors,6));
  font: {
     size: $font_size-18;
     weight: $font_weight-normal;
	   family: "Rubik", sans-serif;
  }
}
.hidden{
    display:none;
}
.show{
    display:flex;
}
/*.hide-in-mobile{
  display:none;
  @media screen and(min-width:768px){
     display:block;
  }
}*/

.top-z-index{
  //needed for z-index.
  position: relative;
  z-index: 1;
  opacity:1;
}

.text-center{
   text-align:center;
}
.text-start-md{
    @media screen and(min-width:768px){
      text-align:left;
    }
}
.text-uppercase{
   text-transform: uppercase;
}
.svg-100{
   width:100%;
   height: 100%;
}
.relativeouter{
    position:relative;
}
.custom-nav{
    z-index:99;
    height:50vh;
    width: 100vw;
    opacity:1;
    position:absolute;
    top:0;
    left:0;
    @include bg-color(map-get($colors,Very Dark Blue),nth($fallback-colors,6));
    a{
      @include font-color(map-get($colors,White),nth($fallback-colors,8));
    }
}

.order-1{
    .order-zero{
        order:0;
    }
    .order-one{
        order:1;
    }
    @media screen and(min-width:767px){
        .order-md-zero{
           order:0;
        }
        .order-md-one{
           order: 1;
        }
    }
}
//from https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034
.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; 
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important; 
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            
}

.container{
      //cutoff the blue shape on the right/left side
      
      .btn{
         padding: 5px 15px;
         border-radius: 5px;
      }
      
      nav ul {
        list-style-type:none;
        width: 100%;
      } 

      header{
  
            a{
              text-decoration:none;
              color: black;
            }
            #menubutton{
               margin: 15px 20px;                                              
            }
            #navbarCollapse{
                hr{
                   color: white;
                }
                li {
                   padding-bottom:2em;
                   
                  a{
                    font-size: 2rem;
                    font-weight:$font_weight-medium;
                    @media screen and(min-width:768px){
                      font-size: 1em;
                    }
                  }
                }
                
            }
            @media screen and(min-width:767px){
                
            }
        
        }
        
        section{
             padding-bottom: 1em;
        }
        &__firstChild{
             #first-text{
                 text-align:center;
                 @media screen and(min-width:767px){
                      text-align: start;
                 }
             }
            @media screen and(max-width: 767px){
                //in mobile view the hero svg image ,should have max-width /max-height. I did not use viewbox or svg-100
                #hero{
                    max-width: 75%;
                    max-height:75%;
                }
            }
            
            
        }
        
        &__secondChild{
            #url{
                width: 50em;
            }
            ul {
              list-style-type:none;
            }
        }
       
        &__fourthChild{
              background:hsl(257, 27%, 26%) url('./images/bg-boost-mobile.svg') top center/100% 100%;
              @include font-color(map-get($colors,White),nth($fallback-colors,8));
              padding: 1em;
              @media screen and(min-width:768px){
                  background:hsl(257, 27%, 26%) url('./images/bg-boost-desktop.svg') top center/100% 100%;
                  padding:2em;
              }
        }
        &__fifthChild{
             padding: 1em;
             @include bg-color(map-get($colors,Very Dark Violet),nth($fallback-colors,7));
             li ,a{
              @include font-color(map-get($colors,White),nth($fallback-colors,8));
             }
             @media screen and(min-width: 768px){
                 padding: 2em;
             }
        }
    
        
             
          
      
      #about-me{
        
        @media screen and(min-width:768px){
          position:relative;
          top: 10em;
        }
      }
      @media screen and(min-width:768px){
        @include padding(4em);
        font-size:1.2em;
      }
}
